flask==3.0.2
flask-restful==0.3.10
flask-cors==4.0.0
python-dotenv>=1.0.0
gunicorn==21.2.0
requests>=2.31.0
quart>=0.18.4
hypercorn>=0.15.0
snowflake-snowpark-python>=1.12.0
snowflake-connector-python>=3.7.0
pydantic>=2.0.0
blinker>=1.6.2
